.article-container {
  background-color: blanchedalmond;
}

.title-paragraph {
  color: blueviolet;
  text-align: center;
}

.test-span {
  font-weight: bold;
  color: red;
}

.with-border {
  border: 1px solid red;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  background-color: pink;
}

.line-through {
  text-decoration: line-through;
}
